<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CoachSportifVirtuel</title>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		<script type="text/javascript" src="../static/script.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>

	<body>

		<div class="grandeMarge">
			<h1>Préparation physique débutant ?</h1>
			<h2>Amusez-vous !</h2>
			
			<p>Ce site est proposé par le <a href="https://coach-sportif-virtuel-23.webself.net/">CoachSportifVirtuel</a> et il est gratuit et accessible par tous ! Bonne visite !</p>
			
			<p>Ce site vous permettra de vous motiver à faire de la preparation physique pure et de voir votre progression.</p>
			
			<p>J'ai fais ce site pour m'amuser alors faites en autant. ;)</p>

			<label for="pseudo">Entrez un pseudo : </label><input id='pseudo' type="text" name="pseudo" placeholder="Chuck-Norris"  required class="input_color_invers"><br><br>
			<input type="button" value="Découvrir un nouveau défi..." onclick="Index.changePage('pseudo')">

		</div>

		<a href="./page404.html"><img src="../static/chuck_norris.gif"></a>

	</body>
</html>
