<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CoachSportifVirtuel</title>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		<script type="text/javascript" src="../static/script.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>

	<body>

		<div class="grandeMarge">
			<h1>CoachSportifVirtuel</h1>
			<h2>"Gloups" c'est page n'existe pas...</h2>

			<p>Vous venez de passer dans le côté obscure de la force.</p>

		</div>

		<img src="../static/dark_vador.jpg" style="{width: 4718px; height: 4915px}">

	</body>
</html>
