<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CoachSportifVirtuel</title>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		<script type="text/javascript" src="../static/script.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>

	<body>

		<div class="grandeMarge">
			<h1>CoachSportifVirtuel</h1>
			<h2>Défi de tractions !</h2>

			<p id="exo"></p>

		</div>

		<img src="../static/tractions.gif">

		<div class="grandeMarge">

			<button onclick="Defi.winDefi('categorie')" class="input_color_invers">
				Défi réussi !
			</button><br><br>

			<button onclick="window.location.replace('./defiSportif.html');">
				Défi
			</button>

		</div>

		<script type="text/javascript">
			Exo.changePhrase('exo');
		</script>

	</body>
</html>
